.statusbox{
    border: .1em solid black;
    width: 10em;
    height: 2em;
    margin: .2em;
    box-sizing: border-box;
}

.normal {
    background-color: green;
}

.degraded {
    background-color: yellow;
}

.outage {
    background-color: red;
}

.outage {
    background-color: white;
}